<a href="https://colab.research.google.com/github/dylan0stewart/DS-Unit-1-Build/blob/master/Build_Week_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Importing and cleaning data!

In [0]:
from google.colab import files
uploaded = files.upload()

Saving one-star-michelin-restaurants.csv to one-star-michelin-restaurants.csv
Saving three-stars-michelin-restaurants.csv to three-stars-michelin-restaurants.csv
Saving two-stars-michelin-restaurants.csv to two-stars-michelin-restaurants.csv

In [0]:
# Import pandas, start my data cleaning(drop NaNs, convert '$' to numeric etc)
import pandas as pd

df1 = pd.read_csv('one-star-michelin-restaurants.csv')
df2 = pd.read_csv('two-stars-michelin-restaurants.csv')
df3 = pd.read_csv('three-stars-michelin-restaurants.csv')

# Add star numbers to all 3
df1['stars'] = 1
df2['stars'] = 2
df3['stars'] = 3

# Change the '$' in price to numerics, drop nans
df1['price'] = df1['price'].replace({'$$$$$': 5, '$$$$': 4, '$$$': 3, '$$': 2,
                                   '$': 1})

# Drop NaNs
df1 = df1.dropna()

# Check to make sure the '$'s converted, and check for nulls
df1['price'].head(2)
df1.isnull().sum()

name         0
year         0
latitude     0
longitude    0
city         0
region       0
zipCode      0
cuisine      0
price        0
url          0
stars        0
dtype: int64

In [0]:
# Change all regions to USA, then keep only USA regions
               ### DF1 this cell, will replicate for all 3 ###
#Change US regions to USA
df1['region'] = df1['region'].replace(['California', 'Chicago', 'New York City', 
                                                               'Washington DC'],
                                                               'USA')

# Group other regions
df1['region'] = df1['region'].replace(['Denmark', 'Finland', 'Norway', 'Sweden'],
                                       'Nordic')
df1['region'] = df1['region'].replace(['Hungary', 'Poland', 'Austria', 
                                       'Czech Republic'],
                                       'Central Europe')
df1['region'] = df1['region'].replace(['Croatia', 'Greece'], 'Eastern Europe')
df1['region'] = df1['region'].replace(['Rio de Janeiro', 'Sao Paulo'],
                                       'South America')
df1['region'] = df1['region'].replace(['Taipei'], 'Taiwan')

# Drop all non-US regions
df_usa1 = df1[~df1.region.str.contains("Austria")]
df_usa1 = df_usa1[~df_usa1.region.str.contains("Central Europe")]
df_usa1 = df_usa1[~df_usa1.region.str.contains("Eastern Europe")]
df_usa1 = df_usa1[~df_usa1.region.str.contains("Taiwan")]
df_usa1 = df_usa1[~df_usa1.region.str.contains("South America")]
df_usa1 = df_usa1[~df_usa1.region.str.contains("Nordic")]

''' Now I'm left with a DF with numeric prices, no NaNs, and filtered to only US
cities. So now I'll doublecheck to make sure its all US!'''
print(df_usa1['region'].head(2))
df_usa1['region'].tail(2)

In [0]:
                            ####   DF2   #####
#Change US regions to USA
df2['region'] = df2['region'].replace(['California', 'Chicago', 'New York City', 
                                                               'Washington DC'],
                                                               'USA')

# Group other regions
df2['region'] = df2['region'].replace(['Denmark', 'Finland', 'Norway', 'Sweden'],
                                       'Nordic')
df2['region'] = df2['region'].replace(['Hungary', 'Ireland', 'United Kingdom',
                                       'Poland', 'Austria', 'Czech Republic'],
                                       'Central Europe')
df2['region'] = df2['region'].replace(['Croatia', 'Greece'], 'Eastern Europe')
df2['region'] = df2['region'].replace(['Rio de Janeiro', 'Sao Paulo'],
                                       'South America')
df2['region'] = df2['region'].replace(['Taipei', 'Thailand', 'Singapore', 
                                       'South Korea',  'Hong Kong', 'Macau', ],
                                       'Taiwan')

# Drop all non-US regions
df_usa2 = df2[~df2.region.str.contains("Austria")]
df_usa2 = df_usa2[~df_usa2.region.str.contains("Central Europe")]
df_usa2 = df_usa2[~df_usa2.region.str.contains("Eastern Europe")]
df_usa2 = df_usa2[~df_usa2.region.str.contains("Taiwan")]
df_usa2 = df_usa2[~df_usa2.region.str.contains("South America")]
df_usa2 = df_usa2[~df_usa2.region.str.contains("Nordic")]

''' Now I'm left with a DF with numeric prices, no NaNs, and filtered to only US
cities. So now I'll doublecheck to make sure its all US!'''
print(df_usa2['region'].head(2))
df_usa2['region'].tail(2)

6    USA
7    USA
Name: region, dtype: object

89    USA
90    USA
Name: region, dtype: object

In [0]:
                             ####   DF3   ####
#Change US regions to USA
df3['region'] = df3['region'].replace(['California', 'Chicago', 'New York City', 
                                                               'Washington DC'],
                                                               'USA')

# Group other regions
df3['region'] = df3['region'].replace(['Denmark', 'Finland', 'Norway', 'Sweden'],
                                       'Nordic')
df3['region'] = df3['region'].replace(['Hungary', 'United Kingdom', 'Poland',
                                       'Austria', 
                                       'Czech Republic'],
                                       'Central Europe')
df3['region'] = df3['region'].replace(['Croatia', 'Greece'], 'Eastern Europe')
df3['region'] = df3['region'].replace(['Rio de Janeiro', 'Sao Paulo'],
                                       'South America')
df3['region'] = df3['region'].replace(['Taipei', 'South Korea', 'Hong Kong',
                                       'Macau'], 'Taiwan')

# Drop all non-US regions
df_usa3 = df3[~df3.region.str.contains("Austria")]
df_usa3 = df_usa3[~df_usa3.region.str.contains("Central Europe")]
df_usa3 = df_usa3[~df_usa3.region.str.contains("Eastern Europe")]
df_usa3 = df_usa3[~df_usa3.region.str.contains("Taiwan")]
df_usa3 = df_usa3[~df_usa3.region.str.contains("South America")]
df_usa3 = df_usa3[~df_usa3.region.str.contains("Nordic")]

''' Now I'm left with a DF with numeric prices, no NaNs, and filtered to only US
cities. So now I'll doublecheck to make sure its all US!'''
print(df_usa3['region'].head(2))
df_usa3['region'].tail(2)

1    USA
2    USA
Name: region, dtype: object

25    USA
30    USA
Name: region, dtype: object

In [0]:
# Make a df with all 3 combined, just in case I need it
df_us_all = pd.concat([df_usa1, df_usa2])
df_us_all = pd.concat([df_us_all, df_usa3])

df_us_all['city'] = df_us_all['city'].replace(['South San Francisco', 
                                                               'Monterey', 
                                                               'Sacramento',
                                                              'San Francisco'],
                                                          'Northern California')
df_us_all['city'] = df_us_all['city'].replace(['San Diego', 
                                                               'Los Angeles', 
                                                               'Costa Mesa'],
                                                          'Southern California')
# Double check all star levels
print(df_us_all.head(1))
print(df_us_all.tail(1))

       name  year  ...                                                url  stars
12  Chez TJ  2019  ...  https://guide.michelin.com/us/en/california/so...      1

[1 rows x 11 columns]
                            name  ...  stars
30  The Inn at Little Washington  ...      3

[1 rows x 11 columns]

### Graphics time!

In [0]:
# Import Plotly
import plotly.graph_objects as go

# Make a bar graph comparing stars in each city
stars = pd.crosstab(df_us_all['stars'], df_us_all['city'])

In [0]:
stars

city   Chicago  New York  ...  Southern California  Washington, D.C.
stars                     ...
1           17        48  ...                   21                13
2            3        14  ...                    6                 2
3            1         5  ...                    0                 1

[3 rows x 5 columns]

In [0]:
# Import Plotly
import plotly.graph_objects as go

# Group cuisines together
df_us_all['cuisine'] = df_us_all['cuisine'].replace(['Californian',
                                                           'American',
                                                           'Gastropub',
                                                           'Contemporary',
                                                           'Fusion', 'Steakhouse'], 
                                                          'American')
df_us_all['cuisine'] = df_us_all['cuisine'].replace(['Asian', 'Chinese',
                                                           'Thai', 'Indian',
                                                           'International',
                                                           'Japanese', 'Korean'], 
                                                          'Asian')
df_us_all['cuisine'] = df_us_all['cuisine'].replace(['Mexican', 'Spanish'], 
                                                          'Mexican')
df_us_all['cuisine'] = df_us_all['cuisine'].replace(['Mediterranean',
                                                           'Italian', 'European'], 
                                                          'Italian')
# Make my variables
cuisine = pd.crosstab(df_us_all['cuisine'], df_us_all['city'])
cities = ['Chicago', 'New York', 'Northern California', 'Southern California',
          'Washington, D.C.']

# Graph it out
fig = go.Figure(data=[
    go.Bar(name='American', x= cities, y= cuisine.iloc[0]),
    go.Bar(name='Asian', x= cities, y= cuisine.iloc[1]),
    go.Bar(name='Austrian', x= cities, y= cuisine.iloc[2]),
    go.Bar(name='French', x= cities, y= cuisine.iloc[3]),
    go.Bar(name='Italian', x= cities, y= cuisine.iloc[4]),
    go.Bar(name='Mexican', x= cities, y= cuisine.iloc[5]),
    go.Bar(name='Moroccan', x= cities, y= cuisine.iloc[6]),
    go.Bar(name='Scandinavian', x= cities, y= cuisine.iloc[7]),
    go.Bar(name='Seafood', x= cities, y= cuisine.iloc[8]),
    go.Bar(name='Vegetarian', x= cities, y= cuisine.iloc[9])
  
])
# Change the bar mode, and add my customization
fig.update_layout(barmode='stack', template='seaborn', title={
        'text': "Cuisine type by City",
        'y':0.9,
        'x':0.5,
        'xanchor': 'center',
        'yanchor': 'top',
        'font': dict(
        family="Arial, monospace",
        size=45,
        color="#7f7f7f")},
                  xaxis_title="U.S. City",
                  yaxis_title="Number of Restaurants",)
fig.show()


#### USING THIS VISULAIZATION FOR MY FIRST ONE #####

In [0]:
!pip install chart_studio

Requirement already satisfied: chart_studio in /usr/local/lib/python3.6/dist-packages (1.0.0)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from chart_studio) (2.21.0)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from chart_studio) (1.12.0)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from chart_studio) (1.3.3)
Requirement already satisfied: plotly in /usr/local/lib/python3.6/dist-packages (from chart_studio) (4.1.1)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->chart_studio) (2019.9.11)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->chart_studio) (1.24.3)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->chart_studio) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->chart_studio) (3.0.4)

In [0]:
## Upload this graphic for medium article
username = 'dylan0stewart' # your username
api_key = 'm8KJw7meHCSg4rXXDgdy' # your api key - go to profile > settings > regenerate key
chart_studio.tools.set_credentials_file(username=username, api_key=api_key)

import plotly
import chart_studio
import chart_studio.plotly as py
py.plot(fig, filename = 'chart1.html', auto_open=True)

'https://plot.ly/~dylan0stewart/1/'

In [0]:
#####   GRAPHIC #2   ######
labels = ['$75-$125', '$125-$225', '$225+']
values = [18, 48, 80]

# Use `hole` to create a donut-like pie chart
fig = go.Figure(data=[go.Pie(labels=labels, values=values, hole=.5)])
fig.show()

In [0]:
df_usa1['cuisine'].value_counts()

In [0]:
df_usa1['cuisine'] = df_usa1['cuisine'].replace(['Californian',
                                                           'American',
                                                           'Gastropub',
                                                           'Contemporary',
                                                           'Fusion', 'Steakhouse'], 
                                                          'American')
df_usa1['cuisine'] = df_usa1['cuisine'].replace(['Asian', 'Chinese',
                                                           'Thai', 'Indian',
                                                           'International',
                                                           'Japanese', 'Korean'], 
                                                          'Asian')
df_usa1['cuisine'] = df_usa1['cuisine'].replace(['Mexican', 'Spanish'], 
                                                          'Mexican')
df_usa1['cuisine'] = df_usa1['cuisine'].replace(['Mediterranean',
                                                           'Italian', 'European'], 
                                                          'Italian')

In [0]:

from plotly.subplots import make_subplots
labels = ['American', 'Asian', 'Austrian', 'French', 'Italian', 'Mexican', 
          'Moroccan', 'Scandinavian', 'Seafood', 'Vegetarian']

# Create subplots: use 'domain' type for Pie subplot
fig = make_subplots(rows=1, cols=2, specs=[[{'type':'domain'}, {'type':'domain'}]])
fig.add_trace(go.Pie(labels=labels, values=[74,42,1,6,13,5,1,1,2,1], name="1-star"),
              1, 1)
fig.add_trace(go.Pie(labels=labels, values=[30,8,0,2,1,1,0,2,3,0], name="2+3-star"),
              1, 2)

# Use `hole` to create a donut-like pie chart
fig.update_traces(hole=.6, hoverinfo="label+percent+name")

fig.update_layout(
    title_text="Cuisine-type and Stars they earn",
    # Add annotations in the center of the donut pies.
    annotations=[dict(text='1 star', x=0.18, y=0.5, font_size=20, showarrow=False),
                 dict(text='2+3 star', x=0.88, y=0.5, font_size=20, showarrow=False)])

In [0]:
## Upload this graphic for medium article
username = 'dylan0stewart' # your username
api_key = 'm8KJw7meHCSg4rXXDgdy' # your api key - go to profile > settings > regenerate key
chart_studio.tools.set_credentials_file(username=username, api_key=api_key)

import plotly
import chart_studio
import chart_studio.plotly as py
py.plot(fig, filename = 'chart2.html', auto_open=True)

'https://plot.ly/~dylan0stewart/3/'

### Data Cleaning for my 2nd plot(Donuts seen above)

In [0]:
## Everything below is more data cleaning for the donut plots

df_usa1['city'] = df_usa1['city'].replace(['South San Francisco', 
                                                               'Monterey', 
                                                               'Sacramento',
                                                              'San Francisco'],
                                                          'Northern California')
df_usa1['city'] = df_usa1['city'].replace(['San Diego', 
                                                               'Los Angeles', 
                                                               'Costa Mesa'],
                                                          'Southern California')

cuisine1 = pd.crosstab(df_usa1['cuisine'], df_usa1['city'])
cuisine1['totals'] = cuisine1['Chicago'] + cuisine1['New York'] + cuisine1['Northern California'] + cuisine1['Southern California'] + cuisine1['Washington, D.C.']
cuisine1

city          Chicago  New York  ...  Washington, D.C.  totals
cuisine                          ...
American           14        14  ...                 7      74
Asian               0        18  ...                 1      42
Austrian            0         1  ...                 0       1
French              1         3  ...                 0       6
Italian             1         6  ...                 4      13
Mexican             1         3  ...                 0       5
Moroccan            0         0  ...                 0       1
Scandinavian        0         1  ...                 0       1
Seafood             0         1  ...                 1       2
Vegetarian          0         1  ...                 0       1

[10 rows x 6 columns]

In [0]:
df_usa2['cuisine'] = df_usa2['cuisine'].replace(['Californian',
                                                           'American',
                                                           'Gastropub',
                                                           'Contemporary',
                                                           'Fusion', 'Steakhouse'], 
                                                          'American')
df_usa2['cuisine'] = df_usa2['cuisine'].replace(['Asian', 'Chinese',
                                                           'Thai', 'Indian',
                                                           'International',
                                                           'Japanese', 'Korean'], 
                                                          'Asian')
df_usa2['cuisine'] = df_usa2['cuisine'].replace(['Mexican', 'Spanish'], 
                                                          'Mexican')
df_usa2['cuisine'] = df_usa2['cuisine'].replace(['Mediterranean',
                                                           'Italian', 'European'], 
                                                          'Italian')

df_usa2['city'] = df_usa2['city'].replace(['South San Francisco', 
                                                               'Monterey', 
                                                               'Sacramento',
                                                              'San Francisco'],
                                                          'Northern California')
df_usa2['city'] = df_usa2['city'].replace(['San Diego', 
                                                               'Los Angeles', 
                                                               'Costa Mesa'],
                                                          'Southern California')

cuisine2 = pd.crosstab(df_usa2['cuisine'], df_usa2['city'])
cuisine2['totals'] = cuisine2['Chicago'] + cuisine2['New York'] + cuisine2['Northern California'] + cuisine2['Southern California'] + cuisine2['Washington, D.C.']
cuisine2

city          Chicago  New York  ...  Washington, D.C.  totals
cuisine                          ...
American            3         6  ...                 2      19
Asian               0         3  ...                 0       6
French              0         2  ...                 0       2
Italian             0         0  ...                 0       1
Mexican             0         0  ...                 0       1
Scandinavian        0         2  ...                 0       2
Seafood             0         1  ...                 0       2

[7 rows x 6 columns]

In [0]:
df_usa3['cuisine'] = df_usa3['cuisine'].replace(['Californian',
                                                           'American',
                                                           'Gastropub',
                                                           'Contemporary',
                                                           'Fusion', 'Steakhouse'], 
                                                          'American')
df_usa3['cuisine'] = df_usa3['cuisine'].replace(['Asian', 'Chinese',
                                                           'Thai', 'Indian',
                                                           'International',
                                                           'Japanese', 'Korean'], 
                                                          'Asian')
df_usa3['cuisine'] = df_usa3['cuisine'].replace(['Mexican', 'Spanish'], 
                                                          'Mexican')
df_usa3['cuisine'] = df_usa3['cuisine'].replace(['Mediterranean',
                                                           'Italian', 'European'], 
                                                          'Italian')

df_usa3['city'] = df_usa3['city'].replace(['South San Francisco', 
                                                               'Monterey', 
                                                               'Sacramento',
                                                              'San Francisco'],
                                                          'Northern California')
df_usa3['city'] = df_usa3['city'].replace(['San Diego', 
                                                               'Los Angeles', 
                                                               'Costa Mesa'],
                                                          'Southern California')

cuisine3 = pd.crosstab(df_usa3['cuisine'], df_usa3['city'])
cuisine3['totals'] = cuisine3['Chicago'] + cuisine3['New York'] + cuisine3['Northern California'] + cuisine3['Washington, D.C.']
cuisine3

city      Chicago  New York  Northern California  Washington, D.C.  totals
cuisine
American        1         3                    6                 1      11
Asian           0         1                    1                 0       2
Seafood         0         1                    0                 0       1