<a href="https://colab.research.google.com/github/rileythejones/DS-Unit-1-Build/blob/master/GSS_project_RJ.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
pip install pyreadstat

Requirement already satisfied: pyreadstat in /usr/local/lib/python3.6/dist-packages (0.2.9)

In [0]:
import pyreadstat

In [0]:
!ls

 GSS7218_R1.sav		        gss_spss_with_codebook.zip.2
 GSS_Codebook.pdf	        gss_spss_with_codebook.zip.3
 gss_spss_with_codebook.zip    'Release Notes 7218_R1.pdf'
 gss_spss_with_codebook.zip.1   sample_data

In [0]:
!wget https://gss.norc.org/Documents/spss/2018_spss.zip

--2019-10-21 16:49:24--  https://gss.norc.org/Documents/spss/2018_spss.zip
Resolving gss.norc.org (gss.norc.org)... 199.102.80.194
Connecting to gss.norc.org (gss.norc.org)|199.102.80.194|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1484252 (1.4M) [application/x-zip-compressed]
Saving to: ‘2018_spss.zip’

2018_spss.zip       100%[===================>]   1.42M   661KB/s    in 2.2s

2019-10-21 16:49:27 (661 KB/s) - ‘2018_spss.zip’ saved [1484252/1484252]

In [0]:
!unzip 2018_spss.zip

Archive:  2018_spss.zip
  inflating: GSS2018.sav

In [0]:
df, meta = pyreadstat.read_sav("GSS2018.sav")

In [0]:
df.shape

(2348, 1064)

In [0]:
df.head()

   ABANY  ABDEFECT  ABFELEGL  ABHELP1  ...  YEARSUSA  YEARVAL  YOUSUP  ZODIAC
0    2.0       1.0       NaN      1.0  ...       NaN      NaN    45.0     6.0
1    1.0       1.0       3.0      2.0  ...       NaN      NaN     NaN    11.0
2    NaN       NaN       NaN      1.0  ...       NaN      NaN     3.0     1.0
3    NaN       NaN       1.0      1.0  ...       NaN      NaN    10.0     1.0
4    2.0       1.0       NaN      2.0  ...       NaN      NaN     NaN     4.0

[5 rows x 1064 columns]

In [0]:
df_without_na = df.dropna(axis=1)

In [0]:
df_without_na.shape

(2348, 52)

In [0]:
df_without_na.columns

Index(['BALLOT', 'CONSENT', 'DATEINTV', 'DEGREE', 'FAMGEN', 'FORM', 'FORMWT',
       'GENDER1', 'HOMPOP', 'HUADD', 'ID', 'INTAGE', 'INTETHN', 'INTID',
       'INTSEX', 'INTYRS', 'ISSP', 'LNGTHINV', 'MARCOHAB', 'MOBILE16', 'MODE',
       'OVERSAMP', 'PHASE', 'PHONE', 'PRES16', 'RACE', 'REG16', 'REGION',
       'RELATE1', 'RELHH1', 'RELHHD1', 'RES16', 'RESPNUM', 'RFAMLOOK',
       'RVISITOR', 'SAMPCODE', 'SAMPLE', 'SEX', 'SIZE', 'SPANENG', 'SPFALOOK',
       'SPLIVE', 'SRCBELT', 'VERSION', 'VISITORS', 'VPSU', 'VSTRAT', 'WTSS',
       'WTSSALL', 'WTSSNR', 'XNORCSIZ', 'YEAR'],
      dtype='object')